.site-footer {
    padding-bottom: 100px;
}

.footer {
    @include Displey($ITEMS: center, $JC: space-between, $GAP: 0px);
}


.footer-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-btn {
    position: absolute;
    right: -100px;
    bottom: 80px;
    width: 65px;
    height: 65px;
    border: 2px solid $color-wht;
    border-top-left-radius: 15px;
    background-color: transparent;

    &:hover {
        background-color: rgb(23, 23, 105);
        border-color: rgb(23, 23, 105);
    }

}

.footer-mobil-btn {
    display: none;
}

@media (max-width: 768px) {
    .footer{
        padding-bottom:50px;
    }
    .footer-wrapper {
        padding: 0 20px;
    }

    .footer-wrapper>img {
        width: 100%;
        height: 170px;
    }

    .footer-btn {
        display: none;
    }

    .footer-mobil-btn {
        display: block;
        position: absolute;
        right: 50px;
        bottom: -100px;
        width: 40px;
        height: 40px;
        border: 2px solid $color-wht;
        border-top-left-radius: 15px;
        background-color: transparent;

        &:hover {
            background-color: rgb(23, 23, 105);
            border-color: rgb(23, 23, 105);
        }
    }
}