*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

body{
    font-family: "Manrope", sans-serif;
    background-color: #000;
}